{
    "openapi":  "3.0.1",
    "info":  {
                 "title":  "Katron AI Gift Card API Documentation",
                 "version":  "1.0"
             },
    "servers":  [
                    {
                        "url":  "https://api.ktngiftcard.katronai.com/katron-gift-card",
                        "description":  "Generated server url"
                    }
                ],
    "security":  [
                     {
                         "BearerAuth":  [

                                        ]
                     }
                 ],
    "paths":  {
                  "/api/user/uploadGenericFile":  {
                                                      "post":  {
                                                                   "tags":  [
                                                                                "user-controller"
                                                                            ],
                                                                   "operationId":  "uploadGenericFile",
                                                                   "parameters":  [
                                                                                      {
                                                                                          "name":  "folderName",
                                                                                          "in":  "query",
                                                                                          "required":  true,
                                                                                          "schema":  {
                                                                                                         "type":  "string"
                                                                                                     }
                                                                                      },
                                                                                      {
                                                                                          "name":  "fileName",
                                                                                          "in":  "query",
                                                                                          "required":  true,
                                                                                          "schema":  {
                                                                                                         "type":  "string"
                                                                                                     }
                                                                                      }
                                                                                  ],
                                                                   "requestBody":  {
                                                                                       "content":  {
                                                                                                       "multipart/form-data":  {
                                                                                                                                   "schema":  {
                                                                                                                                                  "required":  [
                                                                                                                                                                   "file"
                                                                                                                                                               ],
                                                                                                                                                  "type":  "object",
                                                                                                                                                  "properties":  {
                                                                                                                                                                     "file":  {
                                                                                                                                                                                  "type":  "string",
                                                                                                                                                                                  "format":  "binary"
                                                                                                                                                                              }
                                                                                                                                                                 }
                                                                                                                                              }
                                                                                                                               }
                                                                                                   },
                                                                                       "required":  true
                                                                                   },
                                                                   "responses":  {
                                                                                     "200":  {
                                                                                                 "description":  "OK",
                                                                                                 "content":  {
                                                                                                                 "*/*":  {
                                                                                                                             "schema":  {
                                                                                                                                            "$ref":  "#/components/schemas/Response"
                                                                                                                                        }
                                                                                                                         }
                                                                                                             }
                                                                                             }
                                                                                 }
                                                               }
                                                  },
                  "/api/user/updateUserPhoto":  {
                                                    "post":  {
                                                                 "tags":  [
                                                                              "user-controller"
                                                                          ],
                                                                 "operationId":  "updateUserPhoto",
                                                                 "parameters":  [
                                                                                    {
                                                                                        "name":  "photo",
                                                                                        "in":  "query",
                                                                                        "required":  true,
                                                                                        "schema":  {
                                                                                                       "type":  "string"
                                                                                                   }
                                                                                    }
                                                                                ],
                                                                 "responses":  {
                                                                                   "200":  {
                                                                                               "description":  "OK",
                                                                                               "content":  {
                                                                                                               "*/*":  {
                                                                                                                           "schema":  {
                                                                                                                                          "$ref":  "#/components/schemas/Response"
                                                                                                                                      }
                                                                                                                       }
                                                                                                           }
                                                                                           }
                                                                               }
                                                             }
                                                },
                  "/api/user/updateUserLatLng":  {
                                                     "post":  {
                                                                  "tags":  [
                                                                               "user-controller"
                                                                           ],
                                                                  "operationId":  "updateUserLatLng",
                                                                  "parameters":  [
                                                                                     {
                                                                                         "name":  "location",
                                                                                         "in":  "query",
                                                                                         "required":  true,
                                                                                         "schema":  {
                                                                                                        "type":  "string"
                                                                                                    }
                                                                                     },
                                                                                     {
                                                                                         "name":  "lat",
                                                                                         "in":  "query",
                                                                                         "required":  true,
                                                                                         "schema":  {
                                                                                                        "type":  "number",
                                                                                                        "format":  "double"
                                                                                                    }
                                                                                     },
                                                                                     {
                                                                                         "name":  "lng",
                                                                                         "in":  "query",
                                                                                         "required":  true,
                                                                                         "schema":  {
                                                                                                        "type":  "number",
                                                                                                        "format":  "double"
                                                                                                    }
                                                                                     }
                                                                                 ],
                                                                  "responses":  {
                                                                                    "200":  {
                                                                                                "description":  "OK",
                                                                                                "content":  {
                                                                                                                "*/*":  {
                                                                                                                            "schema":  {
                                                                                                                                           "$ref":  "#/components/schemas/Response"
                                                                                                                                       }
                                                                                                                        }
                                                                                                            }
                                                                                            }
                                                                                }
                                                              }
                                                 },
                  "/api/user/updateUserInformation":  {
                                                          "post":  {
                                                                       "tags":  [
                                                                                    "user-controller"
                                                                                ],
                                                                       "operationId":  "updateUserInformation",
                                                                       "requestBody":  {
                                                                                           "content":  {
                                                                                                           "application/json":  {
                                                                                                                                    "schema":  {
                                                                                                                                                   "$ref":  "#/components/schemas/UpdateUserModel"
                                                                                                                                               }
                                                                                                                                }
                                                                                                       },
                                                                                           "required":  true
                                                                                       },
                                                                       "responses":  {
                                                                                         "200":  {
                                                                                                     "description":  "OK",
                                                                                                     "content":  {
                                                                                                                     "*/*":  {
                                                                                                                                 "schema":  {
                                                                                                                                                "$ref":  "#/components/schemas/Response"
                                                                                                                                            }
                                                                                                                             }
                                                                                                                 }
                                                                                                 }
                                                                                     }
                                                                   }
                                                      },
                  "/api/user/updateUserAddress":  {
                                                      "post":  {
                                                                   "tags":  [
                                                                                "user-controller"
                                                                            ],
                                                                   "operationId":  "updateUserAddress",
                                                                   "requestBody":  {
                                                                                       "content":  {
                                                                                                       "application/json":  {
                                                                                                                                "schema":  {
                                                                                                                                               "$ref":  "#/components/schemas/RegisterAddressModel"
                                                                                                                                           }
                                                                                                                            }
                                                                                                   },
                                                                                       "required":  true
                                                                                   },
                                                                   "responses":  {
                                                                                     "200":  {
                                                                                                 "description":  "OK",
                                                                                                 "content":  {
                                                                                                                 "*/*":  {
                                                                                                                             "schema":  {
                                                                                                                                            "$ref":  "#/components/schemas/Response"
                                                                                                                                        }
                                                                                                                         }
                                                                                                             }
                                                                                             }
                                                                                 }
                                                               }
                                                  },
                  "/api/user/payArcWebhook":  {
                                                  "post":  {
                                                               "tags":  [
                                                                            "user-controller"
                                                                        ],
                                                               "operationId":  "payArcWebhook",
                                                               "requestBody":  {
                                                                                   "content":  {
                                                                                                   "application/json":  {
                                                                                                                            "schema":  {
                                                                                                                                           "type":  "string"
                                                                                                                                       }
                                                                                                                        }
                                                                                               },
                                                                                   "required":  true
                                                                               },
                                                               "responses":  {
                                                                                 "200":  {
                                                                                             "description":  "OK",
                                                                                             "content":  {
                                                                                                             "*/*":  {
                                                                                                                         "schema":  {
                                                                                                                                        "type":  "string"
                                                                                                                                    }
                                                                                                                     }
                                                                                                         }
                                                                                         }
                                                                             }
                                                           }
                                              },
                  "/api/user/changePassword":  {
                                                   "post":  {
                                                                "tags":  [
                                                                             "user-controller"
                                                                         ],
                                                                "operationId":  "changePassword",
                                                                "parameters":  [
                                                                                   {
                                                                                       "name":  "oldPassword",
                                                                                       "in":  "query",
                                                                                       "required":  true,
                                                                                       "schema":  {
                                                                                                      "type":  "string"
                                                                                                  }
                                                                                   },
                                                                                   {
                                                                                       "name":  "newPassword",
                                                                                       "in":  "query",
                                                                                       "required":  true,
                                                                                       "schema":  {
                                                                                                      "type":  "string"
                                                                                                  }
                                                                                   },
                                                                                   {
                                                                                       "name":  "confirmPassword",
                                                                                       "in":  "query",
                                                                                       "required":  true,
                                                                                       "schema":  {
                                                                                                      "type":  "string"
                                                                                                  }
                                                                                   }
                                                                               ],
                                                                "responses":  {
                                                                                  "200":  {
                                                                                              "description":  "OK",
                                                                                              "content":  {
                                                                                                              "*/*":  {
                                                                                                                          "schema":  {
                                                                                                                                         "$ref":  "#/components/schemas/Response"
                                                                                                                                     }
                                                                                                                      }
                                                                                                          }
                                                                                          }
                                                                              }
                                                            }
                                               },
                  "/api/user/addCardToPayArc":  {
                                                    "post":  {
                                                                 "tags":  [
                                                                              "user-controller"
                                                                          ],
                                                                 "operationId":  "addCardToPayArc",
                                                                 "requestBody":  {
                                                                                     "content":  {
                                                                                                     "application/json":  {
                                                                                                                              "schema":  {
                                                                                                                                             "$ref":  "#/components/schemas/CardCreateRequestModel"
                                                                                                                                         }
                                                                                                                          }
                                                                                                 },
                                                                                     "required":  true
                                                                                 },
                                                                 "responses":  {
                                                                                   "200":  {
                                                                                               "description":  "OK",
                                                                                               "content":  {
                                                                                                               "*/*":  {
                                                                                                                           "schema":  {
                                                                                                                                          "$ref":  "#/components/schemas/Response"
                                                                                                                                      }
                                                                                                                       }
                                                                                                           }
                                                                                           }
                                                                               }
                                                             }
                                                },
                  "/api/giftCards/purchaseGiftCardByMerchant":  {
                                                                    "post":  {
                                                                                 "tags":  [
                                                                                              "gift-card-controller"
                                                                                          ],
                                                                                 "operationId":  "purchaseGiftCardByMerchant",
                                                                                 "requestBody":  {
                                                                                                     "content":  {
                                                                                                                     "application/json":  {
                                                                                                                                              "schema":  {
                                                                                                                                                             "$ref":  "#/components/schemas/GiftcardOrderRequestMerchant"
                                                                                                                                                         }
                                                                                                                                          }
                                                                                                                 },
                                                                                                     "required":  true
                                                                                                 },
                                                                                 "responses":  {
                                                                                                   "200":  {
                                                                                                               "description":  "OK",
                                                                                                               "content":  {
                                                                                                                               "*/*":  {
                                                                                                                                           "schema":  {
                                                                                                                                                          "$ref":  "#/components/schemas/Response"
                                                                                                                                                      }
                                                                                                                                       }
                                                                                                                           }
                                                                                                           }
                                                                                               }
                                                                             }
                                                                },
                  "/api/giftCards/createGiftCardOrder":  {
                                                             "post":  {
                                                                          "tags":  [
                                                                                       "gift-card-controller"
                                                                                   ],
                                                                          "operationId":  "createGiftCardOrder",
                                                                          "requestBody":  {
                                                                                              "content":  {
                                                                                                              "application/json":  {
                                                                                                                                       "schema":  {
                                                                                                                                                      "$ref":  "#/components/schemas/GiftcardOrderRequest"
                                                                                                                                                  }
                                                                                                                                   }
                                                                                                          },
                                                                                              "required":  true
                                                                                          },
                                                                          "responses":  {
                                                                                            "200":  {
                                                                                                        "description":  "OK",
                                                                                                        "content":  {
                                                                                                                        "*/*":  {
                                                                                                                                    "schema":  {
                                                                                                                                                   "$ref":  "#/components/schemas/Response"
                                                                                                                                               }
                                                                                                                                }
                                                                                                                    }
                                                                                                    }
                                                                                        }
                                                                      }
                                                         },
                  "/api/giftCards/checkPaymentStatus":  {
                                                            "post":  {
                                                                         "tags":  [
                                                                                      "gift-card-controller"
                                                                                  ],
                                                                         "operationId":  "checkPaymentStatusForOrder",
                                                                         "parameters":  [
                                                                                            {
                                                                                                "name":  "type",
                                                                                                "in":  "query",
                                                                                                "required":  true,
                                                                                                "schema":  {
                                                                                                               "type":  "string"
                                                                                                           }
                                                                                            },
                                                                                            {
                                                                                                "name":  "payarcTransactionId",
                                                                                                "in":  "query",
                                                                                                "required":  true,
                                                                                                "schema":  {
                                                                                                               "type":  "string"
                                                                                                           }
                                                                                            }
                                                                                        ],
                                                                         "responses":  {
                                                                                           "200":  {
                                                                                                       "description":  "OK",
                                                                                                       "content":  {
                                                                                                                       "*/*":  {
                                                                                                                                   "schema":  {
                                                                                                                                                  "$ref":  "#/components/schemas/Response"
                                                                                                                                              }
                                                                                                                               }
                                                                                                                   }
                                                                                                   }
                                                                                       }
                                                                     }
                                                        },
                  "/api/giftCards/checkForPaymentAndGiftCardStatus":  {
                                                                          "post":  {
                                                                                       "tags":  [
                                                                                                    "gift-card-controller"
                                                                                                ],
                                                                                       "operationId":  "checkForPaymentAndGiftCardStatus",
                                                                                       "parameters":  [
                                                                                                          {
                                                                                                              "name":  "giftCardOrderId",
                                                                                                              "in":  "query",
                                                                                                              "required":  true,
                                                                                                              "schema":  {
                                                                                                                             "type":  "integer",
                                                                                                                             "format":  "int64"
                                                                                                                         }
                                                                                                          }
                                                                                                      ],
                                                                                       "responses":  {
                                                                                                         "200":  {
                                                                                                                     "description":  "OK",
                                                                                                                     "content":  {
                                                                                                                                     "*/*":  {
                                                                                                                                                 "schema":  {
                                                                                                                                                                "$ref":  "#/components/schemas/Response"
                                                                                                                                                            }
                                                                                                                                             }
                                                                                                                                 }
                                                                                                                 }
                                                                                                     }
                                                                                   }
                                                                      },
                  "/api/external/reissueTokenForExternalCustomer":  {
                                                                        "post":  {
                                                                                     "tags":  [
                                                                                                  "external-customer-controller"
                                                                                              ],
                                                                                     "operationId":  "reissueTokenForExternalCustomer",
                                                                                     "parameters":  [
                                                                                                        {
                                                                                                            "name":  "email",
                                                                                                            "in":  "query",
                                                                                                            "required":  true,
                                                                                                            "schema":  {
                                                                                                                           "type":  "string"
                                                                                                                       }
                                                                                                        }
                                                                                                    ],
                                                                                     "responses":  {
                                                                                                       "200":  {
                                                                                                                   "description":  "OK",
                                                                                                                   "content":  {
                                                                                                                                   "*/*":  {
                                                                                                                                               "schema":  {
                                                                                                                                                              "$ref":  "#/components/schemas/Response"
                                                                                                                                                          }
                                                                                                                                           }
                                                                                                                               }
                                                                                                               }
                                                                                                   }
                                                                                 }
                                                                    },
                  "/api/external/loadBalance":  {
                                                    "post":  {
                                                                 "tags":  [
                                                                              "external-customer-controller"
                                                                          ],
                                                                 "operationId":  "loadBalance",
                                                                 "parameters":  [
                                                                                    {
                                                                                        "name":  "email",
                                                                                        "in":  "query",
                                                                                        "required":  true,
                                                                                        "schema":  {
                                                                                                       "type":  "string"
                                                                                                   }
                                                                                    },
                                                                                    {
                                                                                        "name":  "balance",
                                                                                        "in":  "query",
                                                                                        "required":  true,
                                                                                        "schema":  {
                                                                                                       "type":  "number",
                                                                                                       "format":  "float"
                                                                                                   }
                                                                                    }
                                                                                ],
                                                                 "responses":  {
                                                                                   "200":  {
                                                                                               "description":  "OK",
                                                                                               "content":  {
                                                                                                               "*/*":  {
                                                                                                                           "schema":  {
                                                                                                                                          "$ref":  "#/components/schemas/Response"
                                                                                                                                      }
                                                                                                                       }
                                                                                                           }
                                                                                           }
                                                                               }
                                                             }
                                                },
                  "/api/external/giftCard/resendGiftCardCredentials":  {
                                                                           "post":  {
                                                                                        "tags":  [
                                                                                                     "external-customer-controller"
                                                                                                 ],
                                                                                        "operationId":  "resendGiftCardCredentials",
                                                                                        "parameters":  [
                                                                                                           {
                                                                                                               "name":  "giftCardOrderId",
                                                                                                               "in":  "query",
                                                                                                               "required":  true,
                                                                                                               "schema":  {
                                                                                                                              "type":  "integer",
                                                                                                                              "format":  "int64"
                                                                                                                          }
                                                                                                           }
                                                                                                       ],
                                                                                        "responses":  {
                                                                                                          "200":  {
                                                                                                                      "description":  "OK",
                                                                                                                      "content":  {
                                                                                                                                      "*/*":  {
                                                                                                                                                  "schema":  {
                                                                                                                                                                 "$ref":  "#/components/schemas/Response"
                                                                                                                                                             }
                                                                                                                                              }
                                                                                                                                  }
                                                                                                                  }
                                                                                                      }
                                                                                    }
                                                                       },
                  "/api/external/giftCard/purchaseGiftCard":  {
                                                                  "post":  {
                                                                               "tags":  [
                                                                                            "external-customer-controller"
                                                                                        ],
                                                                               "operationId":  "purchaseGiftCard",
                                                                               "parameters":  [
                                                                                                  {
                                                                                                      "name":  "Authorization",
                                                                                                      "in":  "header",
                                                                                                      "required":  true,
                                                                                                      "schema":  {
                                                                                                                     "type":  "string"
                                                                                                                 }
                                                                                                  }
                                                                                              ],
                                                                               "requestBody":  {
                                                                                                   "content":  {
                                                                                                                   "application/json":  {
                                                                                                                                            "schema":  {
                                                                                                                                                           "$ref":  "#/components/schemas/ExternalCustomerGiftCardOrderRequest"
                                                                                                                                                       }
                                                                                                                                        }
                                                                                                               },
                                                                                                   "required":  true
                                                                                               },
                                                                               "responses":  {
                                                                                                 "200":  {
                                                                                                             "description":  "OK",
                                                                                                             "content":  {
                                                                                                                             "*/*":  {
                                                                                                                                         "schema":  {
                                                                                                                                                        "$ref":  "#/components/schemas/Response"
                                                                                                                                                    }
                                                                                                                                     }
                                                                                                                         }
                                                                                                         }
                                                                                             }
                                                                           }
                                                              },
                  "/api/external/giftCard/createPreference":  {
                                                                  "post":  {
                                                                               "tags":  [
                                                                                            "external-customer-controller"
                                                                                        ],
                                                                               "operationId":  "createPreference",
                                                                               "requestBody":  {
                                                                                                   "content":  {
                                                                                                                   "application/json":  {
                                                                                                                                            "schema":  {
                                                                                                                                                           "$ref":  "#/components/schemas/ExternalCustomerGiftCardPurchaseFeePreferenceModel"
                                                                                                                                                       }
                                                                                                                                        }
                                                                                                               },
                                                                                                   "required":  true
                                                                                               },
                                                                               "responses":  {
                                                                                                 "200":  {
                                                                                                             "description":  "OK",
                                                                                                             "content":  {
                                                                                                                             "*/*":  {
                                                                                                                                         "schema":  {
                                                                                                                                                        "$ref":  "#/components/schemas/Response"
                                                                                                                                                    }
                                                                                                                                     }
                                                                                                                         }
                                                                                                         }
                                                                                             }
                                                                           }
                                                              },
                  "/api/external/createExternalCustomer":  {
                                                               "post":  {
                                                                            "tags":  [
                                                                                         "external-customer-controller"
                                                                                     ],
                                                                            "operationId":  "createExternalCustomer",
                                                                            "requestBody":  {
                                                                                                "content":  {
                                                                                                                "application/json":  {
                                                                                                                                         "schema":  {
                                                                                                                                                        "$ref":  "#/components/schemas/ExternalCustomerModel"
                                                                                                                                                    }
                                                                                                                                     }
                                                                                                            },
                                                                                                "required":  true
                                                                                            },
                                                                            "responses":  {
                                                                                              "200":  {
                                                                                                          "description":  "OK",
                                                                                                          "content":  {
                                                                                                                          "*/*":  {
                                                                                                                                      "schema":  {
                                                                                                                                                     "$ref":  "#/components/schemas/Response"
                                                                                                                                                 }
                                                                                                                                  }
                                                                                                                      }
                                                                                                      }
                                                                                          }
                                                                        }
                                                           },
                  "/api/external/activateOrDeactivateCustomer":  {
                                                                     "post":  {
                                                                                  "tags":  [
                                                                                               "external-customer-controller"
                                                                                           ],
                                                                                  "operationId":  "activateOrDeactivateCustomer",
                                                                                  "parameters":  [
                                                                                                     {
                                                                                                         "name":  "email",
                                                                                                         "in":  "query",
                                                                                                         "required":  true,
                                                                                                         "schema":  {
                                                                                                                        "type":  "string"
                                                                                                                    }
                                                                                                     },
                                                                                                     {
                                                                                                         "name":  "activate",
                                                                                                         "in":  "query",
                                                                                                         "required":  true,
                                                                                                         "schema":  {
                                                                                                                        "type":  "boolean"
                                                                                                                    }
                                                                                                     }
                                                                                                 ],
                                                                                  "responses":  {
                                                                                                    "200":  {
                                                                                                                "description":  "OK",
                                                                                                                "content":  {
                                                                                                                                "*/*":  {
                                                                                                                                            "schema":  {
                                                                                                                                                           "$ref":  "#/components/schemas/Response"
                                                                                                                                                       }
                                                                                                                                        }
                                                                                                                            }
                                                                                                            }
                                                                                                }
                                                                              }
                                                                 },
                  "/api/auth/verifyPhoneOtp":  {
                                                   "post":  {
                                                                "tags":  [
                                                                             "auth-controller"
                                                                         ],
                                                                "operationId":  "verifyPhoneOtp",
                                                                "parameters":  [
                                                                                   {
                                                                                       "name":  "otp",
                                                                                       "in":  "query",
                                                                                       "required":  true,
                                                                                       "schema":  {
                                                                                                      "type":  "string"
                                                                                                  }
                                                                                   }
                                                                               ],
                                                                "responses":  {
                                                                                  "200":  {
                                                                                              "description":  "OK",
                                                                                              "content":  {
                                                                                                              "*/*":  {
                                                                                                                          "schema":  {
                                                                                                                                         "$ref":  "#/components/schemas/Response"
                                                                                                                                     }
                                                                                                                      }
                                                                                                          }
                                                                                          }
                                                                              }
                                                            }
                                               },
                  "/api/auth/verifyEmailOtp":  {
                                                   "post":  {
                                                                "tags":  [
                                                                             "auth-controller"
                                                                         ],
                                                                "operationId":  "verifyEmailOtp",
                                                                "parameters":  [
                                                                                   {
                                                                                       "name":  "otp",
                                                                                       "in":  "query",
                                                                                       "required":  true,
                                                                                       "schema":  {
                                                                                                      "type":  "string"
                                                                                                  }
                                                                                   }
                                                                               ],
                                                                "responses":  {
                                                                                  "200":  {
                                                                                              "description":  "OK",
                                                                                              "content":  {
                                                                                                              "*/*":  {
                                                                                                                          "schema":  {
                                                                                                                                         "$ref":  "#/components/schemas/Response"
                                                                                                                                     }
                                                                                                                      }
                                                                                                          }
                                                                                          }
                                                                              }
                                                            }
                                               },
                  "/api/auth/sendOtpForPhoneVerification":  {
                                                                "post":  {
                                                                             "tags":  [
                                                                                          "auth-controller"
                                                                                      ],
                                                                             "operationId":  "sendOtpForPhoneVerification",
                                                                             "responses":  {
                                                                                               "200":  {
                                                                                                           "description":  "OK",
                                                                                                           "content":  {
                                                                                                                           "*/*":  {
                                                                                                                                       "schema":  {
                                                                                                                                                      "$ref":  "#/components/schemas/Response"
                                                                                                                                                  }
                                                                                                                                   }
                                                                                                                       }
                                                                                                       }
                                                                                           }
                                                                         }
                                                            },
                  "/api/auth/resetPassword":  {
                                                  "post":  {
                                                               "tags":  [
                                                                            "auth-controller"
                                                                        ],
                                                               "operationId":  "resetPassword",
                                                               "parameters":  [
                                                                                  {
                                                                                      "name":  "otp",
                                                                                      "in":  "query",
                                                                                      "required":  true,
                                                                                      "schema":  {
                                                                                                     "type":  "string"
                                                                                                 }
                                                                                  },
                                                                                  {
                                                                                      "name":  "newPassword",
                                                                                      "in":  "query",
                                                                                      "required":  true,
                                                                                      "schema":  {
                                                                                                     "type":  "string"
                                                                                                 }
                                                                                  },
                                                                                  {
                                                                                      "name":  "confirmPassword",
                                                                                      "in":  "query",
                                                                                      "required":  true,
                                                                                      "schema":  {
                                                                                                     "type":  "string"
                                                                                                 }
                                                                                  }
                                                                              ],
                                                               "responses":  {
                                                                                 "200":  {
                                                                                             "description":  "OK",
                                                                                             "content":  {
                                                                                                             "*/*":  {
                                                                                                                         "schema":  {
                                                                                                                                        "$ref":  "#/components/schemas/Response"
                                                                                                                                    }
                                                                                                                     }
                                                                                                         }
                                                                                         }
                                                                             }
                                                           }
                                              },
                  "/api/auth/resendOtpForResetPassword":  {
                                                              "post":  {
                                                                           "tags":  [
                                                                                        "auth-controller"
                                                                                    ],
                                                                           "operationId":  "resendOtpForResetPassword",
                                                                           "responses":  {
                                                                                             "200":  {
                                                                                                         "description":  "OK",
                                                                                                         "content":  {
                                                                                                                         "*/*":  {
                                                                                                                                     "schema":  {
                                                                                                                                                    "$ref":  "#/components/schemas/Response"
                                                                                                                                                }
                                                                                                                                 }
                                                                                                                     }
                                                                                                     }
                                                                                         }
                                                                       }
                                                          },
                  "/api/auth/resendOtpForPhoneVerification":  {
                                                                  "post":  {
                                                                               "tags":  [
                                                                                            "auth-controller"
                                                                                        ],
                                                                               "operationId":  "resendOtpForPhoneVerification",
                                                                               "responses":  {
                                                                                                 "200":  {
                                                                                                             "description":  "OK",
                                                                                                             "content":  {
                                                                                                                             "*/*":  {
                                                                                                                                         "schema":  {
                                                                                                                                                        "$ref":  "#/components/schemas/Response"
                                                                                                                                                    }
                                                                                                                                     }
                                                                                                                         }
                                                                                                         }
                                                                                             }
                                                                           }
                                                              },
                  "/api/auth/resendOtpForEmailVerification":  {
                                                                  "post":  {
                                                                               "tags":  [
                                                                                            "auth-controller"
                                                                                        ],
                                                                               "operationId":  "resendOtpForEmailVerification",
                                                                               "responses":  {
                                                                                                 "200":  {
                                                                                                             "description":  "OK",
                                                                                                             "content":  {
                                                                                                                             "*/*":  {
                                                                                                                                         "schema":  {
                                                                                                                                                        "$ref":  "#/components/schemas/Response"
                                                                                                                                                    }
                                                                                                                                     }
                                                                                                                         }
                                                                                                         }
                                                                                             }
                                                                           }
                                                              },
                  "/api/auth/register":  {
                                             "post":  {
                                                          "tags":  [
                                                                       "auth-controller"
                                                                   ],
                                                          "operationId":  "register",
                                                          "requestBody":  {
                                                                              "content":  {
                                                                                              "application/json":  {
                                                                                                                       "schema":  {
                                                                                                                                      "$ref":  "#/components/schemas/RegisterModel"
                                                                                                                                  }
                                                                                                                   }
                                                                                          },
                                                                              "required":  true
                                                                          },
                                                          "responses":  {
                                                                            "200":  {
                                                                                        "description":  "OK",
                                                                                        "content":  {
                                                                                                        "*/*":  {
                                                                                                                    "schema":  {
                                                                                                                                   "$ref":  "#/components/schemas/Response"
                                                                                                                               }
                                                                                                                }
                                                                                                    }
                                                                                    }
                                                                        }
                                                      }
                                         },
                  "/api/auth/login":  {
                                          "post":  {
                                                       "tags":  [
                                                                    "auth-controller"
                                                                ],
                                                       "operationId":  "login",
                                                       "parameters":  [
                                                                          {
                                                                              "name":  "email",
                                                                              "in":  "query",
                                                                              "required":  true,
                                                                              "schema":  {
                                                                                             "type":  "string"
                                                                                         }
                                                                          },
                                                                          {
                                                                              "name":  "password",
                                                                              "in":  "query",
                                                                              "required":  true,
                                                                              "schema":  {
                                                                                             "type":  "string"
                                                                                         }
                                                                          }
                                                                      ],
                                                       "responses":  {
                                                                         "200":  {
                                                                                     "description":  "OK",
                                                                                     "content":  {
                                                                                                     "*/*":  {
                                                                                                                 "schema":  {
                                                                                                                                "$ref":  "#/components/schemas/Response"
                                                                                                                            }
                                                                                                             }
                                                                                                 }
                                                                                 }
                                                                     }
                                                   }
                                      },
                  "/api/auth/forgotPassword":  {
[...]
