{
    "openapi": "3.0.1",
    "info": {
        "title": "Katron AI Gift Card API Documentation",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.ktngiftcard.katronai.com/katron-gift-card",
            "description": "Generated server url"
        }
    ],
    "security": [
        {
            "BearerAuth": []
        }
    ],
    "paths": {
        "/api/user/updateUserPhoto": {
            "post": {
                "tags": [
                    "user-controller"
                ],
                "operationId": "updateUserPhoto",
                "parameters": [
                    {
                        "name": "photo",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/user/updateUserLatLng": {
            "post": {
                "tags": [
                    "user-controller"
                ],
                "operationId": "updateUserLatLng",
                "parameters": [
                    {
                        "name": "location",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "lat",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "format": "double"
                        }
                    },
                    {
                        "name": "lng",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "format": "double"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/user/updateUserInformation": {
            "post": {
                "tags": [
                    "user-controller"
                ],
                "operationId": "updateUserInformation",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateUserModel"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/user/updateUserAddress": {
            "post": {
                "tags": [
                    "user-controller"
                ],
                "operationId": "updateUserAddress",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RegisterAddressModel"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/user/payArcWebhook": {
            "post": {
                "tags": [
                    "user-controller"
                ],
                "operationId": "payArcWebhook",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/user/createMerchantApiProfile": {
            "post": {
                "tags": [
                    "user-controller"
                ],
                "operationId": "createMerchantApiProfile",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "CHARGE_CARD",
                                "CHARGE_ACCOUNT_BALANCE"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/user/changePassword": {
            "post": {
                "tags": [
                    "user-controller"
                ],
                "operationId": "changePassword",
                "parameters": [
                    {
                        "name": "oldPassword",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "newPassword",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "confirmPassword",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/user/addCardToPayArc": {
            "post": {
                "tags": [
                    "user-controller"
                ],
                "operationId": "addCardToPayArc",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CardCreateRequestModel"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/storage/uploadGenericFile": {
            "post": {
                "tags": [
                    "storage-controller"
                ],
                "operationId": "uploadGenericFile",
                "parameters": [
                    {
                        "name": "folderName",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "FOLDER_TYPE_BLOG_AUTHOR_AVATAR",
                                "FOLDER_TYPE_BLOG_ASSETS",
                                "FOLDER_TYPE_USER"
                            ]
                        }
                    },
                    {
                        "name": "fileName",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/merchant/reissueTokenForMerchantApiProfile": {
            "post": {
                "tags": [
                    "merchant-api-profile-controller"
                ],
                "operationId": "reissueTokenForMerchantApiProfile",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                },
                                "example": {
                                    "status": 200,
                                    "message": "API key regenerated successfully",
                                    "data": "eyJhbGciOiJIUzI1NiIsInR..."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/merchant/payArcWebhook": {
            "post": {
                "tags": [
                    "merchant-api-profile-controller"
                ],
                "operationId": "payArcWebhook_1",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Webhook received successfully"
                            }
                        }
                    }
                }
            }
        },
        "/api/merchant/giftCard/voidOrderPayment": {
            "post": {
                "tags": [
                    "merchant-api-profile-controller"
                ],
                "operationId": "voidOrderPayment",
                "parameters": [
                    {
                        "name": "giftCardOrderId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                },
                                "example": {
                                    "status": 200,
                                    "message": "Order payment voided successfully",
                                    "data": null
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/merchant/giftCard/updateMerchantApiProfileGiftCardChargeType": {
            "post": {
                "tags": [
                    "merchant-api-profile-controller"
                ],
                "operationId": "updateMerchantApiProfileGiftCardChargeType",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "CHARGE_CARD",
                                "CHARGE_ACCOUNT_BALANCE"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                },
                                "example": {
                                    "status": 200,
                                    "message": "Charge type updated successfully",
                                    "data": null
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/merchant/giftCard/resendGiftCardCredentials": {
            "post": {
                "tags": [
                    "merchant-api-profile-controller"
                ],
                "operationId": "resendGiftCardCredentials",
                "parameters": [
                    {
                        "name": "giftCardOrderId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/merchant/giftCard/refundOrderPayment": {
            "post": {
                "tags": [
                    "merchant-api-profile-controller"
                ],
                "operationId": "refundOrderPayment",
                "parameters": [
                    {
                        "name": "giftCardOrderId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                },
                                "example": {
                                    "status": 200,
                                    "message": "Order payment refunded successfully",
                                    "data": null
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/merchant/giftCard/refreshOrder": {
            "post": {
                "tags": [
                    "merchant-api-profile-controller"
                ],
                "operationId": "refreshOrder",
                "parameters": [
                    {
                        "name": "giftCardOrderId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                },
                                "example": {
                                    "status": 200,
                                    "message": "Order refreshed successfully",
                                    "data": {
                                        "orderId": 5678,
                                        "status": "COMPLETED"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/merchant/giftCard/purchaseGiftCard": {
            "post": {
                "tags": [
                    "merchant-api-profile-controller"
                ],
                "operationId": "purchaseGiftCard",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MerchantApiProfileGiftCardOrderRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                },
                                "example": {
                                    "status": 200,
                                    "message": "Gift card purchased successfully",
                                    "data": {
                                        "orderId": 5678,
                                        "productId": 1234,
                                        "productName": "Amazon Gift Card",
                                        "unitPrice": 50,
                                        "status": "COMPLETED",
                                        "email": "recipient@example.com"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/giftCards/resendGiftCardCredentials": {
            "post": {
                "tags": [
                    "gift-card-controller"
                ],
                "operationId": "resendGiftCardCredentials_1",
                "parameters": [
                    {
                        "name": "giftCardOrderId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/giftCards/refreshGiftCardOrder": {
            "post": {
                "tags": [
                    "gift-card-controller"
                ],
                "operationId": "refreshGiftCardOrder",
                "parameters": [
                    {
                        "name": "giftCardOrderId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/giftCards/purchaseGiftCardByMerchant": {
            "post": {
                "tags": [
                    "gift-card-controller"
                ],
                "operationId": "purchaseGiftCardByMerchant",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GiftcardOrderRequestMerchant"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/giftCards/createGiftCardOrder": {
            "post": {
                "tags": [
                    "gift-card-controller"
                ],
                "operationId": "createGiftCardOrder",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GiftcardOrderRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/blogs/updateBlog": {
            "post": {
                "tags": [
                    "blog-controller"
                ],
                "operationId": "updateBlog",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BlogUpdateModel"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/blogs/incrementViewCount": {
            "post": {
                "tags": [
                    "blog-controller"
                ],
                "operationId": "incrementViewCount",
                "parameters": [
                    {
                        "name": "blogId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/blogs/createBlog": {
            "post": {
                "tags": [
                    "blog-controller"
                ],
                "operationId": "createBlog",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BlogCreateModel"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/blogs/createBlogAuthor": {
            "post": {
                "tags": [
                    "blog-controller"
                ],
                "operationId": "createBlogAuthor",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BlogAuthorCreateModel"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/blogs/changeStatusOfTheBlog": {
            "post": {
                "tags": [
                    "blog-controller"
                ],
                "operationId": "changeStatusOfTheBlog",
                "parameters": [
                    {
                        "name": "blogId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "blogStatus",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "DRAFT",
                                "PUBLISHED",
                                "ARCHIVED"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/verifyPhoneOtp": {
            "post": {
                "tags": [
                    "auth-controller"
                ],
                "operationId": "verifyPhoneOtp",
                "parameters": [
                    {
                        "name": "otp",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/verifyEmailOtp": {
            "post": {
                "tags": [
                    "auth-controller"
                ],
                "operationId": "verifyEmailOtp",
                "parameters": [
                    {
                        "name": "otp",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/sendOtpForPhoneVerification": {
            "post": {
                "tags": [
                    "auth-controller"
                ],
                "operationId": "sendOtpForPhoneVerification",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/resetPassword": {
            "post": {
                "tags": [
                    "auth-controller"
                ],
                "operationId": "resetPassword",
                "parameters": [
                    {
                        "name": "otp",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "newPassword",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "confirmPassword",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/resendOtpForResetPassword": {
            "post": {
                "tags": [
                    "auth-controller"
                ],
                "operationId": "resendOtpForResetPassword",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/resendOtpForPhoneVerification": {
            "post": {
                "tags": [
                    "auth-controller"
                ],
                "operationId": "resendOtpForPhoneVerification",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/resendOtpForEmailVerification": {
            "post": {
                "tags": [
                    "auth-controller"
                ],
                "operationId": "resendOtpForEmailVerification",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/register": {
            "post": {
                "tags": [
                    "auth-controller"
                ],
                "operationId": "register",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RegisterModel"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/login": {
            "post": {
                "tags": [
                    "auth-controller"
                ],
                "operationId": "login",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/google": {
            "post": {
                "tags": [
                    "auth-controller"
                ],
                "operationId": "googleLogin",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GoogleLoginRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/forgotPassword": {
            "post": {
                "tags": [
                    "auth-controller"
                ],
                "operationId": "forgotPassword",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/admin/giftCard/voidOrderPayment": {
            "post": {
                "tags": [
                    "admin-controller"
                ],
                "operationId": "voidOrderPayment_1",
                "parameters": [
                    {
                        "name": "giftCardOrderId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/admin/giftCard/setFeesForGiftCard": {
            "post": {
                "tags": [
                    "admin-controller"
                ],
                "operationId": "setFeesForGiftCard",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GiftCardPurchaseFeePreferenceModel"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/admin/giftCard/refundOrderPayment": {
            "post": {
                "tags": [
                    "admin-controller"
                ],
                "operationId": "refundOrderPayment_1",
                "parameters": [
                    {
                        "name": "giftCardOrderId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/admin/giftCard/refreshOrder": {
            "post": {
                "tags": [
                    "admin-controller"
                ],
                "operationId": "refreshOrder_1",
                "parameters": [
                    {
                        "name": "giftCardOrderId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/admin/external/giftCard/loadBalance": {
            "post": {
                "tags": [
                    "admin-controller"
                ],
                "operationId": "loadBalance",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "balance",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/admin/external/giftCard/activateOrDeactivateMerchantApiProfile": {
            "post": {
                "tags": [
                    "admin-controller"
                ],
                "operationId": "activateOrDeactivateMerchantApiProfile",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "activate",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/admin/createAdmin": {
            "post": {
                "tags": [
                    "admin-controller"
                ],
                "operationId": "createAdmin",
                "parameters": [
                    {
                        "name": "registerModel",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/RegisterModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/user/getUser": {
            "get": {
                "tags": [
                    "user-controller"
                ],
                "operationId": "getUser",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/user/getUserById": {
            "get": {
                "tags": [
                    "user-controller"
                ],
                "operationId": "getUserById",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/user/getCards": {
            "get": {
                "tags": [
                    "user-controller"
                ],
                "operationId": "getCards",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/storage/getGenericFile": {
            "get": {
                "tags": [
                    "storage-controller"
                ],
                "operationId": "getGenericFile",
                "parameters": [
                    {
                        "name": "folderName",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "FOLDER_TYPE_BLOG_AUTHOR_AVATAR",
                                "FOLDER_TYPE_BLOG_ASSETS"
                            ]
                        }
                    },
                    {
                        "name": "fileName",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/storage/getGenericFileForPrivate": {
            "get": {
                "tags": [
                    "storage-controller"
                ],
                "operationId": "getGenericFileForPrivate",
                "parameters": [
                    {
                        "name": "folderName",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "FOLDER_TYPE_BLOG_AUTHOR_AVATAR",
                                "FOLDER_TYPE_BLOG_ASSETS",
                                "FOLDER_TYPE_USER"
                            ]
                        }
                    },
                    {
                        "name": "fileName",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/merchant/giftCard/listGiftCards": {
            "get": {
                "tags": [
                    "merchant-api-profile-controller"
                ],
                "operationId": "listAllGiftCards",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                },
                                "example": {
                                    "status": 200,
                                    "message": "Success",
                                    "data": [
                                        {
                                            "productId": 1234,
                                            "productName": "Amazon Gift Card",
                                            "denominationType": "FIXED",
                                            "recipientCurrencyCode": "USD",
                                            "fixedRecipientDenominations": [
                                                25,
                                                50,
                                                100
                                            ],
                                            "logoUrls": [
                                                "https://placeholder.com/logo.png"
                                            ],
                                            "brand": {
                                                "brandId": 1,
                                                "brandName": "Amazon"
                                            },
                                            "category": {
                                                "id": 1,
                                                "name": "Shopping"
                                            },
                                            "country": {
                                                "isoName": "US",
                                                "name": "United States"
                                            },
                                            "senderFee": 0,
                                            "senderFeePercentage": 0,
                                            "discountPercentage": 2.5,
                                            "redeemInstruction": {
                                                "concise": "Redeem on amazon.com/gc",
                                                "verbose": "Go to your account, click apply gift card..."
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/merchant/giftCard/listAllGiftCardOrders": {
            "get": {
                "tags": [
                    "merchant-api-profile-controller"
                ],
                "operationId": "listAllGiftCardOrders",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                },
                                "example": {
                                    "status": 200,
                                    "message": "Success",
                                    "data": [
                                        {
                                            "orderId": 5678,
                                            "productId": 1234,
                                            "productName": "Amazon Gift Card",
                                            "unitPrice": 50,
                                            "status": "COMPLETED",
                                            "email": "recipient@example.com",
                                            "createdAt": "2026-04-21T10:00:00Z"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/merchant/giftCard/getGiftCardCredentials": {
            "get": {
                "tags": [
                    "merchant-api-profile-controller"
                ],
                "operationId": "getGiftCardCredentials",
                "parameters": [
                    {
                        "name": "giftCardOrderId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                },
                                "example": {
                                    "status": 200,
                                    "message": "Success",
                                    "data": {
                                        "cardNumber": "ABCD-EFGH-IJKL-MNOP",
                                        "pin": "123456",
                                        "barcodeUrl": "https://placeholder.com/barcode.png",
                                        "redemptionUrl": "https://amazon.com/redeem/ABCD"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/merchant/giftCard/getActiveFeePreference": {
            "get": {
                "tags": [
                    "merchant-api-profile-controller"
                ],
                "operationId": "getActiveFeePreference",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                },
                                "example": {
                                    "status": 200,
                                    "message": "Success",
                                    "data": {
                                        "giftCardFeeType": "FEE_TYPE_MERCHANT_API",
                                        "feeFor1To99": 2.5,
                                        "feeFor100To250": 3.5,
                                        "feeFor251To500": 5,
                                        "feeFor501To750": 6.5,
                                        "feeFor751To999": 8,
                                        "feePercentageFor1000To5000": 1.5
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/merchant/getAccountDetails": {
            "get": {
                "tags": [
                    "merchant-api-profile-controller"
                ],
                "operationId": "getAccountDetails",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                },
                                "example": {
                                    "status": 200,
                                    "message": "Success",
                                    "data": {
                                        "merchantId": 999,
                                        "email": "merchant@example.com",
                                        "companyName": "Acme Corp",
                                        "balance": 1500,
                                        "chargeType": "CHARGE_ACCOUNT_BALANCE",
                                        "isActive": true
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/giftCards/listAllOrders": {
            "get": {
                "tags": [
                    "gift-card-controller"
                ],
                "operationId": "listAllOrders",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/giftCards/listAllGiftCards": {
            "get": {
                "tags": [
                    "gift-card-controller"
                ],
                "operationId": "listAllGiftCards_1",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "OPEN",
                                "CLOSE"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/giftCards/getActiveFeePreference": {
            "get": {
                "tags": [
                    "gift-card-controller"
                ],
                "operationId": "getActiveFeePreference_1",
                "parameters": [
                    {
                        "name": "giftCardType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "FEE_TYPE_USER",
                                "FEE_TYPE_MERCHANT",
                                "FEE_TYPE_MERCHANT_API"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/blogs/listTags": {
            "get": {
                "tags": [
                    "blog-controller"
                ],
                "operationId": "listTags",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/blogs/listCategories": {
            "get": {
                "tags": [
                    "blog-controller"
                ],
                "operationId": "listCategories",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/blogs/listBlogs": {
            "get": {
                "tags": [
                    "blog-controller"
                ],
                "operationId": "listBlogs",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tag",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "PUBLISHED",
                            "enum": [
                                "DRAFT",
                                "PUBLISHED",
                                "ARCHIVED"
                            ]
                        }
                    },
                    {
                        "name": "featured",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "publishedAt"
                        }
                    },
                    {
                        "name": "sortOrder",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "DESC"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/blogs/listAuthors": {
            "get": {
                "tags": [
                    "blog-controller"
                ],
                "operationId": "listAuthors",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/blogs/getBlogBySlug": {
            "get": {
                "tags": [
                    "blog-controller"
                ],
                "operationId": "getBlogBySlug",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/blogs/getBlogById": {
            "get": {
                "tags": [
                    "blog-controller"
                ],
                "operationId": "getBlogById",
                "parameters": [
                    {
                        "name": "blogId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/blogs/getAuthorById": {
            "get": {
                "tags": [
                    "blog-controller"
                ],
                "operationId": "getAuthorById",
                "parameters": [
                    {
                        "name": "authorId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/blogs/findPopularTags": {
            "get": {
                "tags": [
                    "blog-controller"
                ],
                "operationId": "findPopularTags",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/admin/giftCard/listAllOrdersOfUserAndMerchant": {
            "get": {
                "tags": [
                    "admin-controller"
                ],
                "operationId": "listAllOrdersOfUserAndMerchant",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/admin/giftCard/listAllOrdersOfMerchantProfileApi": {
            "get": {
                "tags": [
                    "admin-controller"
                ],
                "operationId": "listAllOrdersOfMerchantProfileApi",
                "parameters": [
                    {
                        "name": "merchantEmail",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/admin/giftCard/getActiveFeePreference": {
            "get": {
                "tags": [
                    "admin-controller"
                ],
                "operationId": "getActiveFeePreference_2",
                "parameters": [
                    {
                        "name": "giftCardType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "FEE_TYPE_USER",
                                "FEE_TYPE_MERCHANT",
                                "FEE_TYPE_MERCHANT_API"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/admin/getAllUsers": {
            "get": {
                "tags": [
                    "admin-controller"
                ],
                "operationId": "getAllUsers",
                "parameters": [
                    {
                        "name": "accountType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "MERCHANT",
                                "USER",
                                "ADMIN",
                                "SUPER_ADMIN"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/blogs/deleteBlog": {
            "delete": {
                "tags": [
                    "blog-controller"
                ],
                "operationId": "deleteBlog",
                "parameters": [
                    {
                        "name": "blogId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Response": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "type": "object"
                    }
                }
            },
            "UpdateUserModel": {
                "required": [
                    "firstname",
                    "lastname",
                    "phone"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "firstname": {
                        "type": "string"
                    },
                    "lastname": {
                        "type": "string"
                    },
                    "phone": {
                        "type": "string"
                    },
                    "about": {
                        "type": "string"
                    }
                }
            },
            "RegisterAddressModel": {
                "required": [
                    "addressLine1",
                    "country"
                ],
                "type": "object",
                "properties": {
                    "addressLine1": {
                        "maxLength": 2147483647,
                        "minLength": 6,
                        "type": "string"
                    },
                    "addressLine2": {
                        "type": "string"
                    },
                    "currentLocation": {
                        "type": "string"
                    },
                    "currentLocationLat": {
                        "type": "number",
                        "format": "double"
                    },
                    "currentLocationLng": {
                        "type": "number",
                        "format": "double"
                    },
                    "city": {
                        "type": "string"
                    },
                    "country": {
                        "maxLength": 2,
                        "minLength": 2,
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "zipcode": {
                        "type": "string"
                    }
                }
            },
            "CardCreateRequestModel": {
                "required": [
                    "cardExpiryDate",
                    "cardIssuerType",
                    "cardNumber",
                    "cardholderName",
                    "cvv"
                ],
                "type": "object",
                "properties": {
                    "cardNumber": {
                        "type": "string"
                    },
                    "cardExpiryDate": {
                        "type": "string"
                    },
                    "cardholderName": {
                        "type": "string"
                    },
                    "cardIssuerType": {
                        "type": "string"
                    },
                    "cvv": {
                        "type": "string"
                    }
                }
            },
            "MerchantApiProfileGiftCardOrderRequest": {
                "required": [
                    "senderName"
                ],
                "type": "object",
                "properties": {
                    "productId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "unitPrice": {
                        "type": "number",
                        "format": "float"
                    },
                    "email": {
                        "type": "string"
                    },
                    "senderName": {
                        "type": "string"
                    }
                }
            },
            "GiftcardOrderRequestMerchant": {
                "required": [
                    "email",
                    "name"
                ],
                "type": "object",
                "properties": {
                    "giftCardId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "quantity": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "unitPrice": {
                        "type": "number",
                        "format": "float"
                    },
                    "email": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    }
                }
            },
            "GiftcardOrderRequest": {
                "required": [
                    "failureUrl",
                    "successUrl"
                ],
                "type": "object",
                "properties": {
                    "giftCardId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "quantity": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "unitPrice": {
                        "type": "number",
                        "format": "float"
                    },
                    "successUrl": {
                        "type": "string"
                    },
                    "failureUrl": {
                        "type": "string"
                    }
                }
            },
            "BlogUpdateModel": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "title": {
                        "type": "string"
                    },
                    "subtitle": {
                        "type": "string"
                    },
                    "content": {
                        "type": "string"
                    },
                    "excerpt": {
                        "type": "string"
                    },
                    "featuredImage": {
                        "type": "string"
                    },
                    "featuredImageAlt": {
                        "type": "string"
                    },
                    "thumbnailImage": {
                        "type": "string"
                    },
                    "category": {
                        "type": "string"
                    },
                    "tagList": {
                        "uniqueItems": true,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "authorId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "metaTitle": {
                        "type": "string"
                    },
                    "metaDescription": {
                        "type": "string"
                    },
                    "metaKeywordList": {
                        "uniqueItems": true,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "DRAFT",
                            "PUBLISHED",
                            "ARCHIVED"
                        ]
                    },
                    "featured": {
                        "type": "boolean"
                    },
                    "readingTime": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "slug": {
                        "type": "string"
                    }
                }
            },
            "BlogCreateModel": {
                "type": "object",
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "subtitle": {
                        "type": "string"
                    },
                    "content": {
                        "type": "string"
                    },
                    "excerpt": {
                        "type": "string"
                    },
                    "featuredImage": {
                        "type": "string"
                    },
                    "featuredImageAlt": {
                        "type": "string"
                    },
                    "thumbnailImage": {
                        "type": "string"
                    },
                    "category": {
                        "type": "string"
                    },
                    "tagList": {
                        "uniqueItems": true,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "authorId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "metaTitle": {
                        "type": "string"
                    },
                    "metaDescription": {
                        "type": "string"
                    },
                    "metaKeywordList": {
                        "uniqueItems": true,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "DRAFT",
                            "PUBLISHED",
                            "ARCHIVED"
                        ]
                    },
                    "featured": {
                        "type": "boolean"
                    },
                    "readingTime": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "slug": {
                        "type": "string"
                    }
                }
            },
            "BlogAuthorCreateModel": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "avatar": {
                        "type": "string"
                    },
                    "bio": {
                        "type": "string"
                    }
                }
            },
            "RegisterModel": {
                "required": [
                    "address",
                    "firstname",
                    "lastname",
                    "password",
                    "phone"
                ],
                "type": "object",
                "properties": {
                    "firstname": {
                        "type": "string"
                    },
                    "lastname": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "password": {
                        "type": "string"
                    },
                    "phone": {
                        "maxLength": 2147483647,
                        "minLength": 9,
                        "type": "string"
                    },
                    "address": {
                        "$ref": "#/components/schemas/RegisterAddressModel"
                    },
                    "profilePhoto": {
                        "type": "string"
                    },
                    "about": {
                        "type": "string"
                    },
                    "accountType": {
                        "type": "string",
                        "enum": [
                            "MERCHANT",
                            "USER",
                            "ADMIN",
                            "SUPER_ADMIN"
                        ]
                    }
                }
            },
            "GoogleLoginRequest": {
                "required": [
                    "accountType",
                    "idToken"
                ],
                "type": "object",
                "properties": {
                    "idToken": {
                        "type": "string"
                    },
                    "accountType": {
                        "type": "string",
                        "enum": [
                            "MERCHANT",
                            "USER",
                            "ADMIN",
                            "SUPER_ADMIN"
                        ]
                    }
                }
            },
            "GiftCardPurchaseFeePreferenceModel": {
                "type": "object",
                "properties": {
                    "giftCardFeeType": {
                        "type": "string",
                        "enum": [
                            "FEE_TYPE_USER",
                            "FEE_TYPE_MERCHANT",
                            "FEE_TYPE_MERCHANT_API"
                        ]
                    },
                    "feeFor1To99": {
                        "type": "number",
                        "format": "float"
                    },
                    "feeFor100To250": {
                        "type": "number",
                        "format": "float"
                    },
                    "feeFor251To500": {
                        "type": "number",
                        "format": "float"
                    },
                    "feeFor501To750": {
                        "type": "number",
                        "format": "float"
                    },
                    "feeFor751To999": {
                        "type": "number",
                        "format": "float"
                    },
                    "feePercentageFor1000To5000": {
                        "type": "number",
                        "format": "float"
                    }
                }
            }
        },
        "securitySchemes": {
            "BearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        }
    }
}